{% extends 'main.html'%}

{% block content %}

   <div class="form-wrapper">
    <h1 class="table-header">Add Client:</h1>
            <form class="form_centered" action="" method=POST>
                {%csrf_token%}

                {% for field in form %}
                <div class="form-field">
                    <label class="form-label">{{ field.label_tag }}</label>
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}

                <div class="div-button">
                    <button type="submit" class="table-button">Add</button>  
                </div>
            
            </form>
    </div>

    
    
{% endblock %}