{% extends 'main.html'%}

{% block content %}

   <div class="form-wrapper form-note">
    <h1 class="table-header">Add Note:</h1>
            <form action="" method=POST>
                {%csrf_token%}

                {% for field in form %}
                <div class="form-field">
                    <label class="form-label">{{ field.label_tag }}</label>
                
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
                <div class="div-button">
                <button type="submit" value="Add" class="table-button">{% if note is None %}Add{% else %}Update{% endif%}</button>
                </div>
            </form>
    </div>

    
    
{% endblock %}