

{% extends 'main.html'%}

{% block content %}
<div class="form-wrapper email-width">
<h1 class="table-header">Email Detail</h1>

<div class="email-wrapper">
<div>
    <label class="inline-block" for="date">Date: </label>
    <p class="inline-block">{{email.dateReceived}}</p>
</div>

<div>
    <label class="inline-block" for="sender">Sender:</label>
    <p class="inline-block">{{email.sender}}</p>
</div>

<div>
    <label class="inline-block" for="to">To: </label>
    <p class="inline-block">{{email.to}}</p>
</div>

<div>
    <label class="inline-block" for="subject">Subject: </label>
    <p class="inline-block">{{email.subject}}</p>
</div>
<div>
    <label class="inline-block" for="message">Message: </label>
    <p class="inline-block">{{email.message}}</p>
</div>
</div>

<div class="email-button-wrapper">
    <button class="table-button">Reply</button>
    <button class="table-button table-button-delete">Delete</button>
</div>
</div>

{% endblock %}