{% extends 'main.html'%}

{% block content %}

<table>
    <tr>
        <th>User</th>
        <th>Date</th>
        <th>Subject</th>
        <th>Read</th>
        <th>Action</th>
    </tr>
    {% for email in read_emails %}
    <tr>
        <td>{{email.user.name}}</td>
        <td>{{email.dateReceived}}</td>
        <td> <a href="{% url 'emails:read_mail' email.id%}"> {{email.subject}}</a></td>
        <td>{{email.read}}</td>
        <td><button>Delete</button></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}