
<ul class="navbar">
    <h1 class="grid-row-span-2">
        CRM
    </h1>
    <li class="grid-align-vertical">
        <a  href="#home">Inbox</a>
    </li>
    <li class="grid-align-vertical">
        <a href="#about">Clients</a>
    </li>
    <li class="grid-align-vertical">
        <a href="#services">Recent Clients</a>
    </li>
    <li class="grid-align-vertical">
        <a href="#services">Bulk E-Mails</a>
    </li>
    <li class="grid-align-vertical">
        <a href="#services">Signatures</a>
    </li>
    <li class="grid-align-vertical">
        <a href="{% url 'user:list_config'%}">Configuration</a>
    </li>
</ul>
   