
<ul class="navbar">
    <h1 class="grid-row-span-2">
        CRM
    </h1>
    <li class="grid-align-vertical">
        <a  href="{% url 'emails:list_emails'%}">Inbox</a>
    </li>
    <li class="grid-align-vertical">
        <a  href="{% url 'notes:add_note'%}">To-Do-List</a>
    </li>
    <li class="grid-align-vertical">
        <a href="{% url 'client:read_clients'%}">Clients</a>
        <ul class="sub-menu">
            <li class="sub-menu"><a href="{% url 'client:add_client'%}">Add Clients</a></li>
            <li><a href="{% url 'client:read_clients'%}">View Clients</a></li>
        </ul>
    </li>
  

    <li class="grid-align-vertical">
        <a href="#services">Recent Contacts</a>
    </li>
    <li class="grid-align-vertical">
        <a href="#services">Bulk E-Mails</a>
    </li>
    <li class="grid-align-vertical">
        <a href="#services">Signatures</a>
    </li>
    <li class="grid-align-vertical">
        <a href="{% url 'user:list_config'%}">Configuration</a>
    </li>
</ul>
   