{% extends 'main.html'%}

{% block content %}

   <div class="table-wrapper">
    <h1 class="table-header">Clients</h1>
    <table class="table">
        <tr class="table-row">
            
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        {% for client in all_clients %}
        <tr class="table-row">   
            <td>{{ client.name }}</td>
            <td>{{ client.surname }}</td>
            <td>{{ client.email }}</td>
            <td><button class="table-button"><a class="table-anchor" href="#">Edit</a></button><button class="table-button table-button-delete"><a class="table-anchor" href="#">Delete</a></button></td>
        </tr>
        {% endfor %}

    </table>
</div>
    
{% endblock %}