{% extends 'main.html'%}

{% block content %}

   <div class="table-wrapper">
    <h1 class="table-header">To Do List:</h1>
    <table class="table">
        <tr class="table-row">
            
            <th>Created</th>
            <th>Client</th>
            <th>Deadline</th>
            <th>Contact Type</th>
            <th>Title</th>
            <th>Summary</th>
            <th>Action</th>
        </tr>
        {% for todo in todo_notes %}
        <tr class="table-row">   
            <td>{{ todo.createDate }}</td>
            <td>{{ todo.client }}</td>
            <td><input type="date" value="{{ todo.deadline|date:'Y-m-d' }}"></td>
            <td>{{ todo.contact_type }}</td>
            <td>{{ todo.title }}</td>
            <td>{{ todo.summary }}</td>
            <td><button class="table-button"><a class="table-anchor" href="{% url 'notes:update_note' todo.id %}">Edit</a></button><button class="table-button table-button-delete"><a class="table-anchor" href="{% url 'notes:delete_note' todo.id %}">Delete</a></button></td>
        </tr>
        {% endfor %}

    </table>
</div>
{% endblock %}